@charset "utf-8";
/* CSS Document */

@font-face { font-family: Skinny; src: url('Skinny-Regular.otf'); } 

body {
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 16px;
        line-height: 1.5; 
/*        background: url(katface.svg) no-repeat center;
*/        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
}
p {
  font-size: medium;
  
}
.plaque {
  display: flex;
  border: 3px outset goldenrod;
  background: goldenrod;
  align-self: center;
}

img {
  margin-left: 30px;
  margin-right: 30px;
  padding: 30px 30px 30px 30px;
  border: 4mm ridge rgb(50, 50, 50, 50);
}
.containerb{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.container{
  display:flex;
}
.wideDiv {
  height: 100vh;
  /*width: 40000px;*/
}
.painting {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center; 
}
.patha {
  stroke-dasharray: 13672.7;
  stroke-dashoffset: -13672.7;
  animation: dashZero 1s linear forwards;
}
.pathb {
  stroke-dasharray: 13672.7;
  stroke-dashoffset: 0;
  animation: dashDrawn 1s linear forwards;
}
.pathc {
  stroke-dasharray: 13672.7;
  stroke-dashoffset: 13672.7;
  animation: dashZero 1s linear forwards;
}
.pathd {
  stroke-dasharray: 13672.7;
  stroke-dashoffset: 0;
  animation: dashUndrawn 1s linear forwards;
}


@keyframes dashZero {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dashDrawn {
  to {
    stroke-dashoffset: 13672.7;
  }
}
@keyframes dashUndrawn {
  to {
    stroke-dashoffset: -13672.7;
  }
}
.work {
        margin-top: 200px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
  //padding-top: 102px;
}
h1 {
  text-align: center;
  font-family: Skinny, sans-serif;
  font-size: 600%;
  font-weight: lighter;
  color: #484848;
  margin-top: 100px;
}
.headers {
        
}
h2{
  max-width: 750px;
  margin: 30px auto;
  font-size: 160%;
  font-family: 'helvetica', sans-serif;
  color: #4A4A4A;
  margin-bottom: 50px;
} 
h3 {
  font-size: 250%;
  margin-bottom: 35px;
}

a {
  color:#454343;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  /* ...and now for the proper property */
  transition:.3s;
}
a:hover {
  color:#b21f41;
  text-decoration: none;

}



