@charset "utf-8";
/* CSS Document */

@font-face { font-family: Skinny; src: url('Skinny-Regular.otf'); } 

body {
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 16px;
        line-height: 1.5; 
}
h1 {
        text-align: center;
        font-family: Skinny, sans-serif;
        font-size: 500%;
}
p {
  font-size: medium;
  
}
h1 {
  font-family: Skinny, sans-serif;
  font-size: 400%;
  font-weight: lighter;
  color: #484848;
  margin-top: 100px;
}
.headers {
        background: url(me.png) no-repeat center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
}
h2{
  max-width: 750px;
  margin: 30px auto;
  font-size: 160%;
  font-family: 'helvetica', sans-serif;
  color: #4A4A4A;
  margin-bottom: 50px;
} 
h3 {
  font-size: 250%;
  margin-bottom: 35px;
}

a {
  color:#454343;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  /* ...and now for the proper property */
  transition:.3s;
}
a:hover {
  color:#b21f41;
  text-decoration: none;

}



