@charset "utf-8";
/* CSS Document */

@font-face { font-family: Skinny; src: url('Skinny-Regular.otf'); } 

body {
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 16px;
        line-height: 1.5; 
/*        background: url(katface.svg) no-repeat center;
*/        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
}
p {
  font-size: medium;
  
}
.plaque {
  border: 3px outset goldenrod;
  background: goldenrod;
  display: flex;
  flex-direction: column;

}

img {
  margin-left: 30px;
  margin-right: 30px;
  padding: 30px 30px 30px 30px;
  border: 4mm ridge rgb(50, 50, 50, 50);
}
.container{
  display:flex;
  align-items: center;
  margin-left: 60px;
}
.wideDiv {
  height: 100vh;
  /*width: 40000px;*/
}
.paintwrap{
  display: flex;
  height: 100%;
/*  flex-direction: row;
*/  align-items: center;
}
.painting {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
}
.path {
  stroke-dasharray: 13664.5;
  stroke-dashoffset: 13664.5;
  animation: dash 2s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.work {
        margin-top: 200px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
  //padding-top: 102px;
}
h1 {
  text-align: center;
  font-family: Skinny, sans-serif;
  font-size: 600%;
  font-weight: lighter;
  color: #484848;
  margin-top: 100px;
}
.headers {
        
}
h2{
  max-width: 750px;
  margin: 30px auto;
  font-size: 160%;
  font-family: 'helvetica', sans-serif;
  color: #4A4A4A;
  margin-bottom: 50px;
} 
h3 {
  font-size: 250%;
  margin-bottom: 35px;
}

a {
  color:#454343;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  /* ...and now for the proper property */
  transition:.3s;
}
a:hover {
  color:#b21f41;
  text-decoration: none;

}



